# Environnements Python
.venv/
venv/
__pycache__/
*.pyc
.env
*.env

# Données et modèles locaux
data/
models/
*.pkl
*.joblib
artifacts/*.joblib
artifacts/**/*.joblib
artifacts/*.pkl
artifacts/**/*.pkl

# Secrets
.env
*.key

# Système / IDE
.vscode/
.DS_Store
Thumbs.db

# Cache tests
.pytest_cache/
.ruff_cache/